<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">BIENVENUE SUR REALITYCRAFT</span>
        <span id="welcomeDescription">Ce launcher se chargera de maintenir à jour votre environnement de jeu afin de rejoindre nos serveurs. Vous pourrez ainsi rejoindre notre serveur Vanilla et notre serveur Roleplay. Nous vous certifions que vos identifiants Mojang ne sont transmis qu'aux serveurs de Mojang sans passer par nos serveurs, empêchant tout risque de vol de données. Le code source du Launcher est disponible sur le Github de Cyberium.</span>
        <br>
        <span id="welcomeDescCTA">Vous êtes à quelques clics de rejoindre la communauté du RealityCraft.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>